@font-face {
    font-family: 'vag_rounded_black_ssibold';
    src: url('/fonts/vag_rounded_black_ssi_bold-webfont.eot');
    src: url('/fonts/vag_rounded_black_ssi_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/vag_rounded_black_ssi_bold-webfont.woff') format('woff'),
         url('/fonts/vag_rounded_black_ssi_bold-webfont.ttf') format('truetype'),
         url('/fonts/vag_rounded_black_ssi_bold-webfont.svg#vag_rounded_black_ssibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cartogothic_stdregular';
    src: url('/fonts/cartogothicstd-book-webfont.eot');
    src: url('/fonts/cartogothicstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cartogothicstd-book-webfont.woff') format('woff'),
         url('/fonts/cartogothicstd-book-webfont.ttf') format('truetype'),
         url('/fonts/cartogothicstd-book-webfont.svg#cartogothic_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	/*Fix the linear gradient to work on all browser*/
    /*background: linear-gradient(rgb(0, 143, 204) 0%, rgb(82, 185, 230) 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
  	margin: 0 0 0 0;
  	padding: 0 0 0 0;
	color: #333;
}

.top {
	width: 100%;
	height: 5em;
	background: #fff;
	/*border-bottom: 3px solid black;*/
	padding: 1em 0 1em 1em;
	border-bottom: 1px solid #ccc;
}

.cta {
	width: 40px;
	height: 23px;
	margin: 1.5em auto 0 auto;
	border-radius: 5px;
	text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 1.25em;
	 background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
	 background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
	 background-image: -moz-linear-gradient(top, #4ba614, #008c00);
	 background-image: -ms-linear-gradient(top, #4ba614, #008c00);
	 background-image: -o-linear-gradient(top, #4ba614, #008c00);
	 background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}

.cta:hover {
	 background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
	 background-image: -webkit-linear-gradient(top, #36780f, #005900);
	 background-image: -moz-linear-gradient(top, #36780f, #005900);
	 background-image: -ms-linear-gradient(top, #36780f, #005900);
	 background-image: -o-linear-gradient(top, #36780f, #005900);
	 background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 140px;
}

a:link,
a:visited {
	text-decoration:none;
	color: #fff;
}

a:hover,
a:active {
	text-decoration:none;
	color: #fff;
}

.header {
	width: 40%;
	margin: 1em 0 0 -3em;
	text-align: left;
	font-size: 1.5em;
	display: inline-block;
}

.head1 {
	width: 775px;
	font-size: 3.5em;
	margin: 0.75em auto 0 auto;
}

.head2 {
	width: 800px;
	font-size: 1.5em;
	margin: 0.5em auto 0 auto;
}

.first {
	display: inline-block;
	width: 100%;
	height: 22em;
	background: #ececec;
	/*border: 1px solid black;*/
	margin: 0 0 0 0;
  	padding: 0 0 0 0;
}

.first_other {
	display: inline-block;
	width: 100%;
	height: 22em;
	background: #ececec;
	/*border: 1px solid black;*/
	margin: 0 0 0 0;
  	padding: 0 0 0 0;
  	border-bottom: 1px solid #ccc;
}

.second {
	display: inline-block;
	width: 100%;
	height: 22em;
	background: #fff;
	/*border: 1px solid black;*/
	margin: 0 0 0 0;
  	padding: 0 0 0 0;
  	border-top: 1px solid #ccc;
}

.footer {
	display: inline-block;
	width: 100%;
	height: 16em;
	background: #ececec;
	/*border: 1px solid black;*/
	margin: 0 0 0 0;
  	padding: 0 1em 0 0;
  	border-top: 1px solid #ccc;
}

.footer_other {
	display: inline-block;
	width: 100%;
	height: 17em;
	background: #ececec;
	/*border: 1px solid black;*/
	margin: 0 0 0 0;
  	padding: 0 1em 0 0;
  	border-top: 1px solid #ccc;
}

.instruction1 {
	width: 310px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

.instruction2 {
	width: 425px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

.address {
	width: 270px;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

.error_msg {
	width: 100%;
	margin-top: 2em;
	text-align: center;
}

.info {
	width: 100px;
	display: inline-block;
	position: relative;
	top: 5%;
	left: 90%;
	/*margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;*/
}

.choose_holder {
	width: 165px;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

.submit {
	width: 100px;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

/*.choose {
	color: #fff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 auto 0 auto;
	font-size: 1em;
	 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);	
}

.choose:hover {
	background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);	
}*/

.upload_holder {
	width: 100px;
	height: 30px;
	margin: 1.5em auto 0 auto;	
}

.new_crop {
	color: #fff;
	width: 160px;
	height: 30px;
	/*margin: 1.5em auto 0 auto;*/
	border-radius: 5px;
	text-align: center;
	padding: 0.5em 0 0 0;
	margin: 1em 0 0 2em;
	font-size: 1em;
	border: none;
	 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

.new_crop:hover {
	border: none;
	background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);	
}

.upload {
	color: #fff;
	width: 100px;
	height: 30px;
	/*margin: 1.5em auto 0 auto;*/
	border-radius: 5px;
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 auto 0 auto;
	font-size: 1em;
	border: none;
	 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

.upload:hover {
	border: none;
	background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);	
}

.button {
	color: #fff;
	width: 100px;
	height: 30px;
	margin: 1.5em auto 0 auto;
	border-radius: 5px;
	text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 1em;
	border: none;
	 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
	 /*background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
	 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
	 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
	 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
	 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);*/
}

.button:hover {
	border: none;
	background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
	 /*background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
	 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
	 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
	 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
	 background-image: -o-linear-gradient(top, #26759e, #133d5b);
	 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);*/
}

.contributer {
	width: 47.5%;
	text-align: left;
	margin: 2em 0 0 0;
	padding: 0 0 1em 0;
	display: inline-block;
}

.copyright {
	width: 47.5%;
	text-align: right;
	margin: 2em 0 0 0;
	padding: 0 0 1em 0;
	display: inline-block;
}

.contributer p {
	margin: 0 0 0 2em;
	padding: 0 0 0 0;
}

.copyright p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.badge_line {
	width: 625px;
	margin-top: 4em;
	margin-left: auto;
	margin-right: auto;	
}

.img_holder {
	width: 125px;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;	
}