@font-face {
    font-family: 'vag_rounded_black_ssibold';
    src: url('vag_rounded_black_ssi_bold-webfont.eot');
    src: url('vag_rounded_black_ssi_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('vag_rounded_black_ssi_bold-webfont.woff') format('woff'),
         url('vag_rounded_black_ssi_bold-webfont.ttf') format('truetype'),
         url('vag_rounded_black_ssi_bold-webfont.svg#vag_rounded_black_ssibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cartogothic_stdregular';
    src: url('cartogothicstd-book-webfont.eot');
    src: url('cartogothicstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('cartogothicstd-book-webfont.woff') format('woff'),
         url('cartogothicstd-book-webfont.ttf') format('truetype'),
         url('cartogothicstd-book-webfont.svg#cartogothic_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	/*Fix the linear gradient to work on all browser*/
    /*background: linear-gradient(rgb(0, 143, 204) 0%, rgb(82, 185, 230) 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
  	margin: 0 0 0 0;
  	padding: 0 0 0 0;
	color: #333;
}

.top {
	width: 100%;
	height: 5em;
	background: #fff;
	/*border-bottom: 3px solid black;*/
	padding: 1em 0 1em 1em;
	border-bottom: 1px solid #ccc;
}

.cta {
	width: 40px;
	height: 23px;
	margin: 1.5em auto 0 auto;
	border-radius: 5px;
	text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 1.25em;
	 background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
	 background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
	 background-image: -moz-linear-gradient(top, #4ba614, #008c00);
	 background-image: -ms-linear-gradient(top, #4ba614, #008c00);
	 background-image: -o-linear-gradient(top, #4ba614, #008c00);
	 background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}

.cta:hover {
	 background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
	 background-image: -webkit-linear-gradient(top, #36780f, #005900);
	 background-image: -moz-linear-gradient(top, #36780f, #005900);
	 background-image: -ms-linear-gradient(top, #36780f, #005900);
	 background-image: -o-linear-gradient(top, #36780f, #005900);
	 background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}

a:link,
a:visited {
	text-decoration:none;
	color: #fff;
}

a:hover,
a:active {
	text-decoration:none;
	color: #fff;
}

.header {
	width: 40%;
	margin: 1em 0 0 -3em;
	text-align: left;
	font-size: 1.5em;
	display: inline-block;
}

.head1 {
	width: 775px;
	font-size: 3.5em;
	margin: 0.75em auto 0 auto;
}

.head2 {
	width: 800px;
	font-size: 1.5em;
	margin: 0.5em auto 0 auto;
}

.first {
	display: inline-block;
	width: 100%;
	height: 22em;
	background: #ececec;
	/*border: 1px solid black;*/
	margin: 0 0 0 0;
  	padding: 0 0 0 0;
}

.second {
	display: inline-block;
	width: 100%;
	height: 22em;
	background: #fff;
	/*border: 1px solid black;*/
	margin: 0 0 0 0;
  	padding: 0 0 0 0;
  	border-top: 1px solid #ccc;
}

.footer {
	display: inline-block;
	width: 100%;
	height: 15em;
	background: #ececec;
	/*border: 1px solid black;*/
	margin: 0 0 0 0;
  	padding: 0 1em 0 2em;
  	border-top: 1px solid #ccc;
}

.instruction1 {
	width: 335px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

.instruction2 {
	width: 425px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

.address {
	width: 275px;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

.error_msg {
	width: 100%;
	margin-top: 2em;
	text-align: center;
}

.info {
	width: 100px;
	display: inline-block;
	position: relative;
	top: 5%;
	left: 90%;
	/*margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;*/
}

.choose {
	width: 175px;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

.submit {
	width: 100px;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

.upload {
	width: 60px;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
}

.contributer {
	width: 47.5%;
	text-align: left;
	margin: 2em 0 0 0;
	padding: 0 0 0 0;
	display: inline-block;
}

.copyright {
	width: 47.5%;
	text-align: right;
	margin: 2em 0 0 0;
	padding: 0 0 0 0;
	display: inline-block;
}

.contributer p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.copyright p {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.badge_line {
	width: 625px;
	margin-top: 4em;
	margin-left: auto;
	margin-right: auto;	
}

.img_holder {
	width: 125px;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;	
}