.cover {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background: url(picture.png) no-repeat;
}

.move {
  margin-left: -5px;
}